.containerHero {
  width: 90dvw;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  gap: 1dvw;
  justify-content: space-evenly;
}

.containerHero2 {
  width: 90dvw;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  gap: 1dvw;
}

.heading {
  margin: 28px;
  font-size: 29px;
  font-weight: 600;
}

.noRecipe {
  /* position: relative; */
  margin-top: 155px;
  text-align: center;
  font-size: 29px;
  font-weight: 600;
  color: rgb(100, 93, 93);
}

@media (max-width: 768px) {
  .containerHero {
    margin: auto;
  }
}
