.headerHeroContainer {
  cursor: pointer;
  background-color: #2f2f2e;
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  display: flex;
  align-items: center;
}
.logo {
  height: 45px;
  width: 45px;
  margin-right: 12px;
}
